# Ignore environment variable files
.env

# Documentation
HELP.md

# Ignore target directories
target/

# Exclude Maven wrapper JAR
!.mvn/wrapper/maven-wrapper.jar

# Ignore build directories for both main and test source sets
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore files for STS (Spring Tool Suite)
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore files for IntelliJ IDEA
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Ignore files for NetBeans
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore files for VS Code
### VS Code ###
.vscode/
